<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body
        h2 Reestablecer Password
        p Has solicitado reestablecer tu password. haz click en el siguiente enlace para hacerlo.
        a(href=`${resetUrl}`) Click aqui.
        p Si no puedes acceder al enlace, visita #{resetUrl}
        p Si no solicitaste reestablecer tu pasword, ignora este correo.